extends ../layout

block append head
  script(src="/js/profile.js")

block content
  form(id="startChat", method="POST")
    input(type='hidden', name='_csrf', value=_csrf)
    input(name="composedMessage" type="text")
    button(type='submit') CHAT
    
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  <img id="pfp" src='' height="300" width="300"></img>

  <div id="about">
    <span id="name"></span>
    <span id="gender"></span>
    <span id="school"></span>
    <span id="major"></span>
    <span id="gradYear"></span>
    <span id="eduLevel"></span>
    <span id="numOfHacks"></span>
    <li v-for="(socialmedia, index) in socialmedias">
      <a v-bind:class="[{'fab': true}, socialmedia[0] ? 'fa-' + socialmedia[0] : '']"v-bind:value="socialmedia[1]"></a>
    </li>
  </div>
  
  <div id="app">
    <div class="languages" v-for="(language, index) in languages">
      <span style="float:right">{{language[1]}}/10</span>
      <li>{{language[0]}}</li>
    </div>
    <div class="interests" v-for="(interest, index) in interests">
      <span style="float:right">{{interest[1]}}/10</span>
      <li>{{interest[0]}}</li>
    </div>
    <div class="technologies" v-for="(technology, index) in technologies">
      <span style="float:right">{{technology[1]}}/10</span>
      <li>{{technology[0]}}</li>
    </div>
    <div class="fields" v-for="(field, index) in fields">
      <span style="float:right">{{field[1]}}/10</span>
      <li>{{field[0]}}</li>
    </div>
  </div>

  script.
    var User = !{JSON.stringify(Profile)};
    
  
