extends ../layout

block append css
  link(href="/css/register.css", rel="stylesheet", type="text/css")
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


block append head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  script(src="/js/register.js")

block content
  .row#app 
    .col-md-2
    .col-md-8 
      form(action='/register?_csrf='+_csrf, method='POST', enctype='multipart/form-data', id="msform")
        <ul id="progressbar">
          <li class="active">Personal Details</li>
          <li>Social Profiles</li>
          <li>Account Setup</li>
        </ul>
        <fieldset id="fieldset1">
          //Gender
          form-group.row
            .col-md-2
            .col-md-9
              #error(style="background: red; color: #fff;display:none;padding:5px;") Please fill in all required fields
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right Gender <span class="asterisk">&#42<span>
            .col-sm-6
              .pretty.p-default.p-curve
                input(type='radio', name='gender', value='male' id='gender1')
                .state.p-info-o
                  label Male
              .pretty.p-default.p-curve
                input(type='radio', name='gender', value='female' id='gender2')
                .state.p-info-o
                  label Female
              .pretty.p-default.p-curve
                input(type='radio', name='gender', value='other' id='gender3')
                .state.p-info-o
                  label Other
          //School
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='school') School <span class="asterisk">&#42<span>
            .col-md-7
              select(id="school", name="school", required)
                <option value="">Please enter your current institution</option> 
          //Major
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='major') Major <span class="asterisk">&#42<span>
            .col-md-7
              select(id="major", name="major", required)
                <option value="">Please select your major</option>
          //Graduating year
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right Expected Graduation Year <span class="asterisk">&#42<span>
            .col-sm-4
              select(name="gradYear", id="gradYear", required)
                <option value=""> Please select your graduation year</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right Education Level <span class="asterisk">&#42<span>
            .col-sm-4
              select(name="eduLevel", id="eduLevel" required)
                <option value=""> Please select your highest education level</option>
                <option value="high school">High School</option>
                <option value="undergrad">Undergrad</option>
                <option value="graduate">Graduate</option>
                <option value="phd">PhD</option>
          .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right How many Hackathons have you been to? <span class="asterisk">&#42<span>
              .col-sm-4
                select(name="numOfHackathons" id="numOfHackathons")
                  <option value=""> Please select a value</option>
                  <option value="0">This is my first one!</option>
                  <option value="1">1</option>
                  <option value="2">2-4</option>
                  <option value="3">5-9</option>
                  <option value="4">10+</option>
          <input type="button" value="Next" id="next1" class="next action-button" />
        </fieldset>
        <fieldset id="fieldset2">
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Are You Interested In? </label>
            <select v-model="interestSelect" id="reg-interest" class="multiselect" name="interests" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">Languages You Are Familiar With: </label>
            <select v-model="languageSelect" id="reg-languages" class="multiselect" name="languages" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Technologies Have You Used? </label>
            <select  v-model="technologiesSelect" id="reg-technologies" class="multiselect" name="technologies" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Fields Are You Interested In Working On? </label>
            <select v-model="fieldsSelect" id="reg-fields" class="multiselect" name="fields" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
          <input type="button" name="next" class="next action-button" value="Next"/>
        </fieldset>
        <fieldset id="fieldset3">
          <div>
              .label Upload Profile Image
              input(type="file", name="myFile", id="imgInp")
              img#img-upload(height='300;', width='300;')
          </div>
          <div style="padding-top:15px;">
            <div class="row">
              <div class="col-md-4">
                <label>Website:</label>
              </div>
              <input class="pull-right" name="website" placeholder="Personal Website" />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Devpost:</label>
              </div>
              <input class="pull-right" name="devpost" placeholder="Devpost" />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Phone:</label>
              </div>
              <input class="pull-right" name="phone" placeholder="Phone" />
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Facebook:</label>
              </div>
              <input style="width:70%;" name="facebook" placeholder="https://www.facebook.com/your_name" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Instagram:</label>
              </div>
              <input style="width:70%;" name="instagram" placeholder="https://www.instagram.com/your_name" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Linkedin:</label>
              </div>
              <input style="width:70%;" name="linkedin" placeholder="https://www.linkedin.com/your_name" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Github:</label>
              </div>
              <input style="width:70%;" name="github" placeholder="https://www.github.com/your_name" />
            </div>
          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
          <input type="submit" name="submit" class="submit action-button" value="Submit"/>
        </fieldset>


  
  