extends layout

block append css
    link(rel='stylesheet', href='/css/chat.css')

block append head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js')
    script(src="/js/chat.js")

block content
    //TODO: populate form with a users search bar 
    <form id="addMemberForm">
        <input id="newMember" />
        <button type="submit">Add to Group</button>
    </form>
    <div id="messages-app" class="messaging">
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history">
            <div v-for="(msg, index) in historyMessages">
                <div v-if="msg[5]==true" class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{msg[2]}}</p>
                    <span class="time_date"> {{msg[3]}}    |    {{msg[4]}}</span> </div>
                </div>
                <div v-else class="incoming_msg">
                  <div class="incoming_msg_img">
                    <img v-bind:src="msg[1]">
                    <span class="incoming_name">{{msg[0]}}</span>
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{msg[2]}}</p>
                      <span class="time_date"> {{msg[3]}}   |    {{msg[4]}}</span></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    ul#othersMessages
    ul#myMessages

    <form id="messageForm" method="POST">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/js/lib/socket.io.js"></script>
    script.
        var Messages = !{JSON.stringify(messages)};
        var Participants = !{JSON.stringify(participants)};
        var User = !{JSON.stringify(currentUser)}
        console.log(Messages);
        console.log(Participants);
        console.log(User);