extends layout

block content
    //TODO: populate form with a users search bar 
    <form id="addMemberForm">
        <input id="newMember" />
        <button type="submit">Add to Group</button>
    </form>

    <ul id="messages"></ul>
    <form id="messageForm" method="POST">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/js/lib/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    script.
        var Messages = !{JSON.stringify(messages)};
        console.log(Messages);