extends layout

block append css
	link(rel='stylesheet', href='/css/hackathon.css')

block append head
	script(src='/js/hackathon.js')
	

block content
	.about
		span#name
		span#university
		span#location
		span#date

	
	span#changePrefMessage You haven't filled out your preferences. Please fill out your preferences to see matching hackers.  
	span#zerohackers There's no hackers who registered for this hackathon yet. Try again later
	<button id="pref">Change your preferences</button>
	//TODO: make showVis visible only when things are processed
	<button id="showVis">Show Visualization</button>

	<div id = "app">
		<h3>Top Ten Hackers</h3>
		<hr>
		<div class="row">
			.col-md-1
			<div class="col-md-2" v-for="(hacker, index) in hackers">
				<div class="img__wrap">
					//picture
					<a v-bind:href="'/users/'+hacker[0].email">
						<img v-bind:src="hacker[0].picture" class="img__img" />
					</a>
					//picture description
					<p class="img__description">
						<span>{{hacker[0].school}}</span>
						<span>{{hacker[0].major}}</span>
					</p>
				</div>
				//preferences
				<div v-for="(hackerPref, index) in hacker[1]">
					<div v-for="(preference, idx) in hackerPref"> 
						<li>{{preference}}</li>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id = "vis">
		
	</div>
	
	script.
		var Hackathon = !{JSON.stringify(Hackathon)};
		var result = !{JSON.stringify(result)};
		var currentHacker = !{JSON.stringify(currentHacker)};
		