extends layout

block append head
  script(src='/js/home.js')


block content
  h1 Choose Your Hackathon
  p.lead A boilerplate for Node.js web applications.
  hr
  .row#app
    <div class="col-md-6" v-for="(hackathon, index) in allhackathons">
      <a v-bind:href="'/hackathons/'+hackathon.id">
      <img height="80" v-bind:src="hackathon.logo" v-bind:alt="hackathon.name" /></a>
      <h4>{{hackathon.name}}</h4>
      <p>{{hackathon.city}}, {{hackathon.state}}</p>
      <p>{{hackathon.date}}
    </div>
  script.
    var Hackathons = !{JSON.stringify(hackathons)};
    console.log(Hackathons);
    