hr
{
    border-top:2px solid rgba(0, 0, 0, 0.1);
}
#title
{
    text-align: center;
}
#menu
{
    list-style-type: none;
    float: left;
    position: fixed;
    left: -8.5em;
    margin-top: -2.5em;  
    border: 2px solid black; 
    transition: 0.2s;
    border-radius: 15%;
}
#menu:hover 
{ 
    left: 0;
}
.chat-item
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: relative;
    right: 15%;
}
.chat-heads
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px grey;
}

.hack-info
{
    float: right;
}
.info-container
{
    margin-top:10px;
    border: 2px solid black;
}
